In [61]:
import mysql.connector
from tabulate import tabulate

db_connecting = mysql.connector.connect (
    host = "localhost",
    user = "root",
    password = "",
    database = "praktek_mandiri"
)

cursor = db_connecting.cursor()

query = "SELECT * FROM pinjaman WHERE id_buku='4'"
cursor.execute(query)

data = cursor.fetchall()
columns = cursor.column_names

cursor.close()
db_connecting.close()

print (tabulate(data, headers=columns, floatfmt="github"))

  id_pinjam    id_anggota    id_buku  tanggal_pinjam    tanggal_kembali
-----------  ------------  ---------  ----------------  -----------------
          1             2          4  2024-05-01        2024-05-09
          2             1          4  2024-06-01        2024-06-06